<body style="font-family: 'Arial', sans-serif; margin: 0; padding: 0; background-color: #fff; color: #333;">
    <div class="container" style="max-width: 600px; margin: 20px auto; background-color: #fff; padding: 20px; border-radius: 8px;">
        <h1 style="color: #0F766E;">Password Reset</h1>
        <p>Dear <%=user.user.name%>,</p>
        <p>We received a request to reset your password. If you made this request, please follow the instructions below. If you didn't make this request, you can safely ignore this email.</p>
        <p><strong>Instructions:</strong></p>
        <ol>
            <li>Click the button below to reset your password:</li>
            <p style="text-align: center; margin-top: 15px;">
                <a href="<%=user.link%>" style="display: inline-block; padding: 10px 20px; background-color: #0F766E; color: #fff; text-decoration: none; border-radius: 5px;">Reset Password</a>
            </p>
            <li>If the above button doesn't work, copy and paste the following URL into your browser:</li>
            <p><%=user.link%></p>
        </ol>
        <p>This link will expire in 10 minutes.</p>
        <p>If you didn't request a password reset, please contact our support immediately.</p>
        <p style="margin-top: 20px;">Best Regards,<br>QuarantaCare</p>
        <div class="footer" style="margin-top: 20px; text-align: center; color: #777;">
            <p>This is an automated email. Please do not reply to this email.</p>
        </div>
    </div>
</body>